.content-div {
  display: flex;
  width: calc(100%-25px);
  flex-direction: column;
  gap: 25px;
  justify-content: flex-start;
  padding-left: 25px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.content {
  font-size: 16px;
  font-weight: 600;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
